body {
  background-color: whitesmoke;
}

main {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 250px;
  height: 400px;
}

.list-todos {
  margin: 5px 0;
  padding: 0;
}

.add {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.items {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  list-style: none;
  width: 100%;
  margin: 5px 0;
  padding: 0;
}

.add button {
  margin: 0;
  padding: 0;
  width: 20%;
}

#text {
  box-sizing: border-box;
  width: 80%;
}

.text {
  border: none;
}

.text-check {
  text-decoration: line-through;
}
